body {
    background-image: url('../img//background.jpg');
    text-align: center;
    overflow: hidden;
    height: 100vh;
    /*touch-action: none;*/
    font-family: serif;
}

.title {
    font-size: 5vh;
}

.area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    height: 12vh;
}

.button {
    width: 25vw;
    height: 7vh;
    font-size: 5vh;
    color: rgb(255, 255, 255);
    background-color: rgba(82, 82, 82, 0.557);
    box-shadow: 0px 2px 5px rgba(57, 57, 57, 0.801);
    border: none;
    touch-action: manipulation;
}

.button:hover {
    background-color: rgba(158, 158, 158, 0.564);
}

.list { 
    width: 30vw;
    font-size: 3vh;
}

