body {
    background-image: url('../img//background.jpg');
    text-align: center;
}

.title {
    width: 100%;
    background: none;
    border: none;
    font-size:  5vh;
    cursor: postrer;
    color: black;
}

.button-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 25%;
    background-color: rgb(0, 0, 0, 0.3);
    color: rgb(255, 255, 255, 0.8);
    border: none;
    
    cursor: postrer;
    font-size: 5vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

}

.button:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.display-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
