/*電卓*/
#calculator {
    /*色*/
    background-color: rgb(110, 110, 120);
    /*幅*/
    width: 216px;
    /*高さ*/
    height: 324px;

    /*角の丸み*/
    border-radius: 10px;

    /*文字の大きさ*/
    /*改行による子要素同士の隙間をなくす*/
    font-size: 0px;

    /*内側の余裕*/
    padding: 2px;
    /*外側の余裕*/
    margin: 0px;
}

#formula {
    /*色*/
    background-color: rgb(0, 0, 10);
    /*幅*/
    width: 192px;
    /*高さ*/
    height: 30px;

    /*角の丸み*/
    border-radius: 10px;

    /*文字の大きさ*/
    font-size: 30px;
    /*文字の高さ*/
    line-height: 30px;
    /*文字の色*/
    color: rgb(190, 190, 200);
    
    /*文字がはみ出したときの処理*/
    overflow-x: scroll;

    /*内側の余裕*/
    padding: 10px 10px;
    /*外側の余裕*/
    margin: 2px;

}

/*GoogleとSafariでスクロールバーを非表示にする*/
#formula::-webkit-scrollbar {
    display: none;
}

.calculator-button {
    /*色*/
    background-color: rgb(0, 0, 10);
    /*幅*/
    width: 50px;
    /*高さ*/
    height: 50px;

    /*角の丸み*/
    border-radius: 10px;

    /*文字の大きさ*/
    font-size: 30px;
    /*文字の高さ*/
    line-height: 30px;
    /*文字の色*/
    color: rgb(110, 110, 120);
    
    /*枠線*/
    border: none;

    /*内側の余裕*/
    padding: 0px;
    /*外側の余裕*/
    margin: 2px;

    /*ダブルタッチによる拡大無効化*/
    touch-action: manipulation;
}

/*ボタン押す時*/
.calculator-button:hover {
    /*文字の色*/
    color: rgb(245, 245, 255);
}

/*家計簿*/
input {
    display: none;
}

