.top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.top-button {
    background-color: rgb(0, 0, 0, 0.3);
    color: rgb(255, 255, 255, 0.8);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

}

.top-button:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 50px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}